*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*

*.a
*.dll
*.exe
*.exp
*.ilk
*.lib
*.manifest
*.opensdf
*.orig
*.pdb
*.sdf
*.sln
*.suo
*.TMP
*.user
*.VC.db
*.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vspx

/*.build/
/*.dir/
/*.xcodeproj/

/.vs/
/.vscode/
/bin/
/build/
/CMakeFiles/
/CMakeScripts/
/Debug/
/dist/
/gen/
/ipch/
/lib/
/MinSizeRel/
/out/
/Release/
/RelWithDebInfo/
/Win32/
/x64/

/cmake_install.cmake
/CMakeCache.txt
/Makefile
